/TrimestrePrimero/PROGRAM/.metadata/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/bin/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.settings/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.classpath
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.project
