/WorkspaceEclipse/.metadata/
/WorkspaceEclipse/TrimestrePrimero/bin/
/WorkspaceEclipse/TrimestrePrimero/.settings/
/WorkspaceEclipse/TrimestrePrimero/.classpath
/WorkspaceEclipse/TrimestrePrimero/.project
/WorkspaceEclipse/TrimestrePrimero/.metadata
/WorkspaceEclipse/TrimestrePrimeroModular/bin/
/WorkspaceEclipse/TrimestrePrimeroModular/.settings/
/WorkspaceEclipse/TrimestrePrimeroModular/.classpath
/WorkspaceEclipse/TrimestrePrimeroModular/.project
/WorkspaceEclipse/TrimestrePrimeroModular/.gitignore
/WorkspaceEclipse/TrimestrePrimeroModular/.metadata
/WorkspaceEclipse/PropositoGeneral/bin/
/WorkspaceEclipse/PropositoGeneral/.settings/
/WorkspaceEclipse/PropositoGeneral/.classpath
/WorkspaceEclipse/PropositoGeneral/.project
/WorkspaceEclipse/PropositoGeneral/.gitignore
/WorkspaceEclipse/PropositoGeneral/.metadata
/WorkspaceEclipse/Entregas/bin/
/WorkspaceEclipse/Entregas/.settings/
/WorkspaceEclipse/Entregas/.classpath
/WorkspaceEclipse/Entregas/.project
/WorkspaceEclipse/Entregas/.gitignore
/WorkspaceEclipse/Entregas/.metadata
/TrimestrePrimero/BAE/SQL/sql_server.exe
/TrimestrePrimero/BAE/SQL/sql_server/
