/TrimestrePrimero/PROGRAM/.metadata/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/bin/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.settings/
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.classpath
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.project
/TrimestrePrimero/PROGRAM/TrimestrePrimero/.metadata
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/bin/
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/.settings/
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/.classpath
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/.project
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/.gitignore
/TrimestrePrimero/PROGRAM/TrimestrePrimeroModular/.metadata
/TrimestrePrimero/PROGRAM/PropositoGeneral/bin/
/TrimestrePrimero/PROGRAM/PropositoGeneral/.settings/
/TrimestrePrimero/PROGRAM/PropositoGeneral/.classpath
/TrimestrePrimero/PROGRAM/PropositoGeneral/.project
/TrimestrePrimero/PROGRAM/PropositoGeneral/.gitignore
/TrimestrePrimero/PROGRAM/PropositoGeneral/.metadata
/TrimestrePrimero/PROGRAM/Entregas/bin/
/TrimestrePrimero/PROGRAM/Entregas/.settings/
/TrimestrePrimero/PROGRAM/Entregas/.classpath
/TrimestrePrimero/PROGRAM/Entregas/.project
/TrimestrePrimero/PROGRAM/Entregas/.gitignore
/TrimestrePrimero/PROGRAM/Entregas/.metadata
/TrimestrePrimero/BAE/SQL/sql_server.exe
/TrimestrePrimero/BAE/SQL/sql_server/
