/*
	PALETA DE COLORES

	#E4E0C7
	#EBDBA8
	#CC6E55
	#573B3A
*/
/* ESTILO GLOBAL */

* {
	-webkit-transition: all 0.3s ease-in;;
	-moz-transition: all 0.3s ease-in;;
	-o-transition: all 0.3s ease-in;;
	transition: all 0.3s ease-in;
}

body {
	/*padding: 5%;*/
	background-color: #E4E0C7;
	color: #573B3A;
}

a {color: #CC6E55;}

a:hover {color: #CC6E55;}

.colNavegacion, .colCuerpo {padding: 1em;}

* {
	font-family: 'Merriweather', serif;
}

.navbar-brand, .nav-link, .tituloMenor, .resumen > dt, .tituloNombre, .tituloFecha, .tituloSeccion, .tituloSubSeccion {
	font-family: 'Calistoga', cursive;
}

/* CLASES GLOBALES */

.tituloMenor {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;	
}

.tituloNombre {
	display: block;
	text-transform: uppercase;
	font-size: 2em;
}

.tituloSeccion {font-size: 1.3em;}

.tituloSubSeccion {font-size: 1.1em;}

.tituloSeccion, .tituloSubSeccion {
	display: block;	
	font-weight: bold;
}

/* ESTILO NAVBAR */

.navbar {background-color: #CC6E55;}

.navbar-brand {
	font-weight: bold;
	font-size: 2em;
}

.navbar, .navbar-brand, .nav-link {color: #E4E0C7;} 

.navbar-brand:hover, .nav-link:hover {color: #573B3A;}

#navbarGlobal .nav-link {padding-bottom: 0.1em;}

#navbarGlobal .nav-item {border-bottom: 0.15em solid #CC6E55;}

#navbarGlobal .nav-item:hover {border-bottom: 0.15em solid #573B3A;}

.form-control {background-color: #E4E0C7;}

.form-control:focus {
	outline-color: #573B3A;
	border-color: #573B3A;
}

.btn-outline-success {
	border-color: #573B3A;
	color: #573B3A;
}

.btn-outline-success:hover {
	border-color: #573B3A;
	background-color: #573B3A;
	color: #E4E0C7;
}

.navbar-toggler {
	color: #CC6E55;
	border-color: #573B3A;
	background-color: #573B3A;
}

.navbar-toggler-icono {
	font-size: 1.5em;
}

/* ESTILO COLUMNA NAVEGACIÓN */

.img-thumbnail {background-color: #E4E0C7;}

.pieFoto {
	background-color: #573B3A;
	text-transform: uppercase;
	color: #E4E0C7;
	font-size: 1em;
}

.cajaAside {
	background-color: #EBDBA8;
	border-color: #CC6E55;
}

div > .cajaAside {padding-top: 1em;}

.resumen {
	padding-left: 0;
	margin: auto;
	text-align: center;
	padding-bottom: 1em;	
}

.resumen dt {
	font-weight: normal;
	font-size: 0.8em;
	color: #CC6E55;
}

.indiceSecciones {padding-top: 1em;}

.indiceSecciones > div {padding-top: 1rem;}

.indiceSecciones li {list-style: none;}

.indiceSecciones ul {padding-left: 1em;}

.indiceSecciones ul span {padding-right: 0.5em;}

/* ESTILO COLUMNA CUERPO */

article > section {padding-bottom: 1.5em;}

section p {font-size: 1.1em;}

/* ESTILO FOOTER */

footer {
	color: #E4E0C7;
	background-color: #CC6E55;
	padding: 1em;
	font-weight: bold;
}