/* ESTILO GLOBAL */
body {
	/*padding: 5%;*/
}

.colNavegacion, .colCuerpo {
	padding: 1em;
}

/* CLASES GLOBALES */

.tituloMenor {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;	
}

/* ESTILO COLUMNA NAVEGACIÓN */

.pieFoto {
	background-color: black;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
}

.resumen {
	padding-left: 0;
	margin: auto;
}

.resumen span {
	font-weight: bold;
	font-size: 1.2em;
}

.resumen li {
	list-style: none;
}

.indiceSecciones {
	padding-top: 1em;
}

.indiceSecciones li {
	list-style: none;	
}

.indiceSecciones ul span {
	color: black;
	padding-right: 0.5em;
}

/* ESTILO COLUMNA CUERPO */

.tituloNombre {
	display: block;
	text-transform: uppercase;
	font-size: 2em;
}

.tituloSeccion {
	font-size: 1.3em;	
}

.tituloSubSeccion {
	font-size: 1.1em;
}

.tituloSeccion, .tituloSubSeccion {
	display: block;	
	font-weight: bold;
}

article > section {
	padding-bottom: 1.5em;
}

section p {
	font-size: 1.1em;
}

/* ESTILO FOOTER */
footer {
	color: white;
	background-color: #565656;
	padding: 1em;
}